.form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 347px;
}

.form input{
    width: 93%;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 20px;
}

.form input, .form label{
    margin-bottom: 11px;
}

.form label{
    font-size: 16px;
}

#remember{
    width: 15px;
    height: 15px;
}

#loginbutton{
    width: 100%;
    height: 50px;
    background-color: #400CCE;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

