#loginpage{
background-color: #FF7C23;
height: 100vh;
width: 97vw;
border-radius: 55px;
display: flex;
}

.sector{
    width: 50%;
    height: 100%;
}

#sector-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sector-right{
    border-radius: 55px;
    z-index: 4;
    background-color: white;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#belowbutton{
    margin-top: 26px;
    color: #616161;
}

#belowbutton a{
    text-decoration: none;
    color: #400CCE;
}

#punchline{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 56px;
    color: white;
    margin-top: 199px;
}

#Guy{
    margin-left: 850px;
    z-index: 10;
}