body{
    user-select: none;
}

#loginpage{
background-color: #FF7C23;
height: 100vh;
width: 93vw;
border-radius: 55px;
display: flex;
}

.sector{
    width: 50%;
    height: 100%;
}

#sector-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sector-right{
    border-radius: 55px;
    background-color: white;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#belowbutton{
    margin-top: 1.625em;
    color: #616161;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
}

#belowbutton a{
    text-decoration: none;
    color: #400CCE;
}

#punchline{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 56px;
    color: white;
    margin-top: 12.4375rem;
}

/* #Guy{
    margin-left: 43.75em;
    z-index: 10;
    width: 35.125em;
    height: 26.5em;
    border: 1px solid black;
} */

#Guy{
    margin-left: 35.75em;
    z-index: 0;
    width: 35.125em;
    height: 26.5em;
    background-image: url("../icons/GuyBook.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.OR{
    color: grey;
    font-family: Poppins;
    font-weight: 400;
    margin: 20px 0px 11px 0px;
}
