.body {
  background-color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .newsfeedtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  /* identical to box height, or 105% */
  letter-spacing: -0.02em;
  /* Secondary/Grey/900 */
  color: #2b3674;
}

@media screen and (max-width: 320px) {
  body {
    width: 107vw;
  }
  .createposticon {
    width: 32px;
    height: 29px;
    background-size: 13px;
  }
  .safespacetitle p {
    font-size: 14px;
  }
  .newsfeedtitle {
    text-align: center;
  }
  .newsfeedbody h5 {
    text-align: center;
  }
  .newsfeedbody {
    width: 90%;
  }
  .safespace {
    height: 76%;
    width: 85%;
  }
  .newsfeedtitle {
    width: 90%;
  }
}

@media screen and (max-width: 360px) and (min-width: 321px) {
  body {
    width: 98vw;
  }
  .createposticon {
    width: 34px;
    height: 34px;
    background-size: 16px;
  }
  .newsfeedtitle {
    text-align: center;
  }
  .newsfeedbody h5 {
    text-align: center;
  }
  .newsfeedbody {
    width: 90%;
  }
  .safespace {
    height: 60%;
    width: 85%;
  }
  .newsfeedtitle {
    width: 90%;
  }
}

@media screen and (max-width: 540px) and (min-width: 361px) {
  body {
    width: 98vw;
  }
  .createposticon {
    width: 34px;
    height: 34px;
    background-size: 16px;
  }
  .newsfeedtitle {
    text-align: center;
  }
  .newsfeedbody h5 {
    text-align: center;
  }
  .newsfeedbody {
    width: 90%;
  }
  .safespace {
    height: 60%;
    width: 90%;
  }
  .newsfeedtitle {
    width: 90%;
  }
}

@media screen and (min-width: 541px) {
  body {
    width: 98vw;
  }
  .createposticon {
    background-size: 16px;
  }
  .createposticon {
    width: 34px;
    height: 34px;
  }
  .newsfeedbody {
    width: 65%;
  }
  .safespace {
    height: 60%;
    width: 93%;
  }
  .newsfeedtitle {
    width: 75%;
  }
}

.newsfeedbody h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 42px;
  /* identical to box height, or 140% */
  letter-spacing: -0.02em;
  /* Secondary/Grey/900 */
  color: #2b3674;
  margin-bottom: 2%;
}

.newsfeedbody .createspace {
  width: 102%;
  height: 88px;
  background-color: #f2f4f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
}

.newsfeedbody .createspace .safespace {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsfeedbody .createspace .safespace .safespacetitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  /* identical to box height, or 108% */
  letter-spacing: -0.02em;
}

.newsfeedbody .createspace .safespace .createposticon {
  background-color: #6e41e2;
  background-image: url("../icons/Union.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.newsfeedposts {
  width: 100%;
  margin-top: 20px;
}

.filters {
  margin-top: 32px;
}

.navbar {
  background-color: white;
}
/*# sourceMappingURL=NewsFeed.css.map */