.body{
    /* width: 100vw; */
    height: 220vh;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.navbar{
    background-color: white;
}