body {
  background-color: white;
}

.mainprofilepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .mainprofilebody{
    width: 75%;
  }
  // padding-left: 169px;
  .uppersection {
    .Welcome {
      p {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 14px;
        color: #707eae;
      }
      h2 {
        font-weight: 600;
        font-size: 34px;
        color: #2b3674;
        margin: 0px;
      }
    }

    @media screen and (min-width:1275px) {
      .profiledata{
        width: 80%;
        .block{
          justify-content: space-between;
        }
      }
    }

    @media screen and (max-width:1274px) {
      .profiledata{
        width: 100%;
        .block{
          justify-content: space-evenly;
        }
      }
    }

    .profiledata {
      margin-top: 45px;
      display: flex;
      justify-content: space-evenly;
      p {
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
        color: #494949;
      }
      h2{
        font-weight: 500;
        font-size: 27px;
        line-height: 32px;
        /* identical to box height, or 133% */
        
        letter-spacing: -0.02em;
        
        color: #FF7C23;
      }
      .block {
        display: flex;
        width: 14em;
        h2 {
          margin: 0px;
        }
      }
    }
    .icons {
      width: 100px;
      height: 100px;
    }
  }

  .profiletopnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
      font-weight: 600;
      font-size: 24px;
      line-height: 42px;
      /* identical to box height, or 124% */
      
      letter-spacing: -0.02em;
      
      /* Secondary/Grey/900 */
      
      color: #2B3674;
      
      }
    }

    @media screen and (max-width:1039px) and (min-width:746px){
      .MyPosts{
        justify-content: space-between;  
      }
    }

    @media screen and (min-width:1040px){
      .MyPosts{
        justify-content: space-between;  
      }
    }

    @media screen and (max-width:745px) {
      .MyPosts{
        justify-content: center;
      }
    }

    .MyPosts{
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
    }
  }
