body {
  background-color: white;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 510px) {
  .icons {
    display: none;
  }
  .block h2 {
    text-align: center;
  }
  .profiletopnav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 622px) {
  .mainprofilebody {
    width: 90%;
  }
}

@media screen and (min-width: 622px) {
  .mainprofilebody {
    width: 75%;
  }
}

.mainprofilepage {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainprofilepage .uppersection .Welcome p {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  color: #707eae;
}

.mainprofilepage .uppersection .Welcome h2 {
  font-weight: 600;
  font-size: 34px;
  color: #2b3674;
  margin: 0px;
}

@media screen and (min-width: 1275px) {
  .mainprofilepage .uppersection .profiledata {
    width: 80%;
  }
  .mainprofilepage .uppersection .profiledata .block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1274px) {
  .mainprofilepage .uppersection .profiledata {
    width: 100%;
  }
  .mainprofilepage .uppersection .profiledata .block {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.mainprofilepage .uppersection .profiledata {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainprofilepage .uppersection .profiledata p {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #494949;
}

.mainprofilepage .uppersection .profiledata h2 {
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: -0.02em;
  color: #FF7C23;
}

.mainprofilepage .uppersection .profiledata .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14em;
}

.mainprofilepage .uppersection .profiledata .block h2 {
  margin: 0px;
}

.mainprofilepage .uppersection .icons {
  width: 100px;
  height: 100px;
}

.mainprofilepage .profiletopnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainprofilepage .profiletopnav h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
  /* identical to box height, or 124% */
  letter-spacing: -0.02em;
  /* Secondary/Grey/900 */
  color: #2B3674;
}

@media screen and (max-width: 1039px) and (min-width: 889px) {
  .mainprofilepage .MyPosts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1040px) {
  .mainprofilepage .MyPosts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 888px) {
  .mainprofilepage .MyPosts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainprofilepage .MyPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}
/*# sourceMappingURL=ProfilePage.css.map */