body{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.SignupTitle{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 19.6875em;
}

#GuyComputer{
    margin-left: 38vw;
    z-index: 0;
    width: 35.125em;
    height: 26.5em;
    background-image: url("../../icons/GuyComputer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}